@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

body {
  background: #000;
  font-family: sans-serif;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow-y: scroll;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  height: 100%;
  gap: 0.7rem;
  padding: 0.5rem;
}

section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

h1,
h2 {
  margin: 0;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  grid-column: span 8;
  height: 100%;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}

.studio-name {
  font-size: 1.5em;
  font-weight: bold;
}

.su-link {
  text-decoration: none;
  color: #fff;
}

.su {
  color: rgba(255, 255, 255, 0.4);
}

.hamburger {
  /* margin-top: 10px; */
  position: fixed; /* 위치 고정 */
  z-index: 100;
  cursor: pointer;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  align-items: center;
}
.hamburger.open {
  position: fixed; /* 수정: .open 클래스가 적용되면 position 값을 fixed로 변경 */
}

.hamburger span {
  display: block;
  height: 4px;
  width: 30px;
  background-color: white;
  transition: all 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: translateY(12px) rotate(135deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-12px) rotate(-135deg);
}

.menu {
  z-index: 99;
  position: fixed;
  top: 0;
  right: -100%;
  width: 25%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  transition: right 0.5s;
  padding-top: 100px;
}

.menu.open {
  right: 0;
}

.menu.open ~ .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
  z-index: 98; /* 메뉴보다 낮은 z-index 값을 설정하여 메뉴 위에 위치 */
}

.menu.open ~ .overlay.active {
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 색상 */
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

#my_photo {
  grid-column: span 2;
  height: 420px;
  /* position: relative; */
  width: 50%;
  /* height: 100%; */
  overflow: hidden; /* 이미지가 섹션 밖으로 넘치지 않게 함 */
}
#my_photo:hover .photo {
  transform: scale(1.2); /* 마우스 호버시 이미지를 1.1배로 확대 */
}
h1 {
  margin-bottom: 10px;
}
.project {
  margin: 15px;
  text-align: center;
}
.photo {
  /* object-fit: cover; */
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 30%;
  /* height: auto; */
  object-position: center;
  transition: transform 0.3s;
}
h2 {
  color: rgba(255, 255, 255, 0.4);
}

/* Mobile devices */
@media screen and (max-width: 800px) {
  .wrapper {
    display: flex;
  }
  .wrapper ul li {
    display: flex;
    text-align: center;
    list-style: none;
    font-size: 10vw;
    /* display: table; */
    margin-bottom: 10px;
    align-items: center;
    /* justify-content: center; */
  }
  .wrapper ul li a.clickable {
    color: orange;
    text-decoration: none;
    letter-spacing: 5px;
    text-transform: lowercase;
    transition: 0.5s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    /* align-items: center; */
  }
  ul li a.clickable:hover {
    letter-spacing: 0px;
  }
  #home {
    grid-column: span 4;
    grid-row: span 2;
  }
  /* Other mobile-specific styles */
  #hero {
    grid-column: span 8;
    height: 100%;
    /* Other mobile-specific styles */
  }

  .studio-name {
    margin-top: 3px;
    font-size: 1.3em;
    font-weight: bold;
    /* align-self: flex-start; 가로 정렬 */
  }
  .hamburger {
    margin-top: 2px;
    height: 24px;
    width: 20px;
  }
  .hamburger.open {
    height: 24px;
    width: 20px;
  }

  .hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-135deg);
  }
  .menu {
    width: 50%;
  }
  .photo {
    /* object-fit: cover; */
    top: 0;
    left: 0;
    border-radius: 30px;
    width: 100%;
    height: auto;
    object-position: center;
    transition: transform 0.3s;
  }
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 800px) {
  .studio-name {
    font-size: 6vw; /* 모바일에서 더 큰 폰트 크기 */
  }
}
